<div class="row">
    <!-- Sidebar that contains search parameters -->
    <div class="large-4 columns">
        <ul class="beer-drop">
            <li>How Drunk?</li>
            <ul class="abv-drop">
                <li><a href="">One</a></li>
                <li><a href="">Two</a></li>
                <li><a href="">Three</a></li>
            </ul>
        </ul>

        <p>Search: <input ng-model="query"></p>
        <p>Beer thing 2</p>
        <p>Beer thing 3</p>
    </div>

    <!-- Results table of beer search -->
    <div class="large-8 columns">
        <ul class="beer-list">
            <li ng-repeat="beer in beers | filter:query">
                <h5>Name: {{beer.name}}</h4>
                <h5>ABV: {{beer.abv}}</h4>
                <h5>IBU: {{beer.ibu}}</h4>
            </li>
        </ul>
    </div>
</div>
