<div class="row">
    <!-- Sidebar that contains search parameters -->
    <div class="large-4 columns">
        <p>Search: <input ng-model="query"></p>
        <p>Beer thing 2</p>
        <p>Beer thing 3</p>
    </div>

    <!-- Results table of beer search -->
    <div class="large-8 columns">
        <table>
            <tr ng-repeat="beer in beers | filter:query">
                <td>Name: {{beer.name}}</td>
                <td>ABV: {{beer.abv}}</td>
                <td>IBU: {{beer.ibu}}</td>
            </tr>
        </table>
    </div>
</div>
